/* you can import CSS from other pens - we'll import color and typography styles from this pen */
body, html{
  background: white;
  font-family: "Oswald", Arial, sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.company {
  background-color: white;
  width: 300px;
  padding: 20px;
  font-family: "Oswald", Arial, sans-serif;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(182, 182, 182);
  margin: 5px;
}

.company:hover {
  background-color: rgba(247, 247, 247);
}

.logos_ind {
  width: 150px;
  outline-color: blue;
}

.logos_score {
  width: 150px;
  padding-top: 15px;
}

.WideImage {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.BackButton {
  height: 40px;
  width: 40px;
  padding: 25px;
  padding-bottom: 0px;
  float: left;
}

.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 5px;
  margin-left: 100px;
}

.Row2 {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 5px;
}

.Column {
  display: table-cell;
  /* background-color: red; */
  vertical-align: middle;
}
